.footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 14px;
    background: #e9e1e1;

    .about, .cooperate, .help {
        text-align: right;

        .top {
            font-weight: 900;
        }
    }
    ul {
        list-style: none;
        li {
            padding-bottom: 7px;
        }
    }
}